<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>
    <footer class="footer fixed-bottom py-4 bg-gray-700" th:fragment="footer">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-white">Copyright &copy; Your Website 2020</div>
                <div>
                    <a class="text-light" href="#">Privacy Policy</a>
                    &middot;
                    <a class="text-light" href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>