<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{mainlayout.html}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>GesamtStat Page</title>

    <meta name="keywords" content="Home" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}">


    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- GooglCharts Query API and JS bundle w/ Popper.js -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script th:inline="javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['controls', 'corechart'], 'language': 'de' });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawNeueFaelleGesamtStat);
        google.charts.setOnLoadCallback(drawAnzahlToteGesamtStat);
        google.charts.setOnLoadCallback(drawAnzahlGeneseneGesamtStat);
        google.charts.setOnLoadCallback(drawAnteilGesamtData);
        google.charts.setOnLoadCallback(drawAnteileNeueNachBundesland);
        google.charts.setOnLoadCallback(drawAnteileToteNachBundesland);
        google.charts.setOnLoadCallback(drawAnteileGeneseneNachBundesland);
        google.charts.setOnLoadCallback(drawAnteileGetesteteNachBundesland);
        google.charts.setOnLoadCallback(drawAnzahlTestsGesamtStat);

        // Load Rest Data
        const rest_data_gesamt = /*[[${gesamtStatList}]]*/'noValue';
        const rest_data_krankenhaus = /*[[${krankenhausStatList}]]*/'noValue';
        const rest_data_gesamtLatest = /*[[${latestGesamtStatList}]]*/'noValue';
        const rest_data_krankenhaus_latest = /*[[${latestKrankenhausStatList}]]*/'noValue';

        const merged_rest_data = [];

        for (var i1 = 0; i1 < rest_data_gesamt.length; i1++) {
            for (var i2 = 0; i2 < rest_data_krankenhaus.length; i2++) {
                if (rest_data_gesamt[i1].datum == rest_data_krankenhaus[i2].datum && rest_data_gesamt[i1].bundesland == rest_data_krankenhaus[i2].bundesland) {
                    merged_rest_data.push({ 'datum': rest_data_gesamt[i1].datum, 'anzahlNeueFaelle': rest_data_gesamt[i1].anzahlNeueFaelle, 'diffTests': rest_data_krankenhaus[i2].diffTests });
                }
            }
        };

        $(window).resize(function () {
            if (this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function () {
                $(this).trigger('resizeEnd');
            }, 500);
        });

        //redraw graph when window resize is completed 
        $(window).on('resizeEnd', function () {
        google.charts.setOnLoadCallback(drawNeueFaelleGesamtStat);
        google.charts.setOnLoadCallback(drawAnzahlToteGesamtStat);
        google.charts.setOnLoadCallback(drawAnzahlGeneseneGesamtStat);
        google.charts.setOnLoadCallback(drawAnteilGesamtData);
        google.charts.setOnLoadCallback(drawAnteileNeueNachBundesland);
        google.charts.setOnLoadCallback(drawAnteileToteNachBundesland);
        google.charts.setOnLoadCallback(drawAnteileGeneseneNachBundesland);
        google.charts.setOnLoadCallback(drawAnteileGetesteteNachBundesland);
        google.charts.setOnLoadCallback(drawAnzahlTestsGesamtStat);
        });




        function drawNeueFaelleGesamtStat() {

            let neueFaelleGesamtChartData = new google.visualization.DataTable();
            neueFaelleGesamtChartData.addColumn('string', 'Datum');
            neueFaelleGesamtChartData.addColumn('number', 'Anzahl');
            neueFaelleGesamtChartData.addColumn('number', '7-Tages-Durchschnitt');
            neueFaelleGesamtChartData.addColumn('number', '7-Tages-Inzidenz');

            rest_data_gesamt.forEach(function (data) {
                const datum = data.datum;
                const neueFaelle = data.anzahlNeueFaelle;
                const tagesDurchschn = data.anzahlFaelle7Tage / 7;
                const tagesInzidenz = data.inzidenz7Tage;
                neueFaelleGesamtChartData.addRow([datum, neueFaelle, tagesDurchschn, tagesInzidenz]);
            });

            const options = {
                title: 'Neue Krankheitsfälle nach Tag ',
                seriesType: 'bars',
                series: {
                    1: { type: 'line' },
                    2: {
                        type: 'line',
                        targetAxisIndex: 1,
                    },
                },
                legend: { position: 'top', },
                height: 360,
                chartArea: {
                    left: 128,
                    right: 128,
                },
                vAxes: {
                    0: {
                        title: 'Neue Fälle',
                    },
                    1: {
                        title: 'Inzidenz',
                        gridlines: {
                            color: 'transparent'
                        }
                    }
                },
                vAxis: { title: 'Neue Fälle', },
                hAxis: {
                    textPosition: 'out',
                    slantedText: true,
                    slantedTextAngle: 90,
                    textStyle: {
                        fontSize: 10,
                    },
                }
            };

            let chart = new google.visualization.ComboChart(document.getElementById('drawNeueFaelleGesamtStat_div'));
            chart.draw(neueFaelleGesamtChartData, options);
        }




        function drawAnzahlToteGesamtStat() {

            let toteData = new google.visualization.DataTable();
            toteData.addColumn('string', 'Datum');
            toteData.addColumn('number', 'Anzahl');
            toteData.addColumn('number', 'Anzahl kumuliert');

            rest_data_gesamt.forEach(function (data) {
                const datum = data.datum;
                const neueTote = data.anzahlNeueTote;
                const anzahlKum = data.anzahlToteGesamt;
                toteData.addRow([datum, neueTote, anzahlKum]);
            });

            const options = {
                title: 'Neue Verstorbene nach Tag ',
                seriesType: 'bars',
                series: {
                    1: {
                        type: 'area',
                        targetAxisIndex: 1,
                    },
                },
                legend: { position: 'top', },
                height: 360,
                chartArea: {
                    left: 128,
                    right: 128,
                },
                vAxes: {
                    0: {
                        title: 'Neue Fälle',
                    },
                    1: {
                        title: 'Anzahl kum.',
                        gridlines: {
                            color: 'transparent'
                        }
                    }
                },
                vAxis: { title: 'Anzahl', },
                hAxis: {
                    textPosition: 'out',
                    slantedText: true,
                    slantedTextAngle: 90,
                    textStyle: {
                        fontSize: 10,
                    },
                }
            };

            let chart = new google.visualization.ComboChart(document.getElementById('drawAnzahlToteGesamtStat_div'));
            chart.draw(toteData, options);
        }


        function drawAnzahlGeneseneGesamtStat() {

            let geneseneData = new google.visualization.DataTable();
            geneseneData.addColumn('string', 'Datum');
            geneseneData.addColumn('number', 'Anzahl');
            geneseneData.addColumn('number', 'Anzahl kumuliert');

            rest_data_gesamt.forEach(function (data) {
                const datum = data.datum;
                const neueGenesene = data.anzahlGeheilt;
                const anzahlKum = data.anzahlGeheiltGesamt;
                geneseneData.addRow([datum, neueGenesene, anzahlKum]);
            });

            const options = {
                title: 'Neue Genesene nach Tag ',
                seriesType: 'bars',
                series: {
                    1: {
                        type: 'area',
                        targetAxisIndex: 1,
                        color: 'green',
                    },
                },
                legend: { position: 'top', },
                height: 360,
                chartArea: {
                    left: 128,
                    right: 128,
                },
                vAxes: {
                    0: {
                        title: 'Neue Genesene',
                    },
                    1: {
                        title: 'Anzahl kum.',
                        gridlines: {
                            color: 'transparent'
                        }
                    }
                },
                vAxis: { title: 'Anzahl', },
                hAxis: {
                    textPosition: 'out',
                    slantedText: true,
                    slantedTextAngle: 90,
                    textStyle: {
                        fontSize: 10,
                    },
                }
            };

            let chart = new google.visualization.ComboChart(document.getElementById('drawAnzahlGeneseneGesamtStat_div'));
            chart.draw(geneseneData, options);
        }



        function drawAnteilGesamtData() {

            let gesamtData = new google.visualization.DataTable();
            gesamtData.addColumn('string', 'Datum');
            gesamtData.addColumn('number', 'Verstorbene');
            gesamtData.addColumn('number', 'Genesene');
            gesamtData.addColumn('number', 'Aktive');

            rest_data_gesamt.forEach(function (data) {
                const datum = data.datum;
                const anzahlAktive = data.anzahlAktive;
                const anzahlVerstorbeneKum = data.anzahlToteGesamt
                const anzahlGeneseneKum = data.anzahlGeheiltGesamt;
                gesamtData.addRow([datum, anzahlVerstorbeneKum, anzahlGeneseneKum, anzahlAktive]);
            });


            const options = {
                title: 'Anteile nach Tag ',
                legend: { position: 'top', },
                height: 360,
                chartArea: {
                    left: 128,
                    right: 128,
                },
                isStacked: 'true',
                series: {
                    0: { color: 'red', },
                    1: { color: 'green', },
                    2: { color: 'blue', }
                },
                vAxis: { title: 'Anzahl', },
                hAxis: {
                    textPosition: 'out',
                    slantedText: true,
                    slantedTextAngle: 90,
                    textStyle: {
                        fontSize: 10,
                    },
                }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('drawAnteilGesamtStat_div'));
            chart.draw(gesamtData, options);
        }



        function drawAnzahlTestsGesamtStat() {

            let testsData = new google.visualization.DataTable();
            testsData.addColumn('string', 'Datum');
            testsData.addColumn('number', 'Anzahl Tests');
            testsData.addColumn('number', 'Prozent Fälle');

            merged_rest_data.forEach(function (data) {
                const datum = data.datum;
                const diffTests = data.diffTests;
                const faellePositiv = data.anzahlNeueFaelle / diffTests;
                testsData.addRow([datum, diffTests, faellePositiv]);
            });

            const options = {
                title: 'Anzahl Tests nach Tag ',
                seriesType: 'bars',
                series: {
                    1: {
                        type: 'steppedArea',
                        targetAxisIndex: 1,
                    },
                },
                legend: { position: 'top', },
                height: 360,
                chartArea: {
                    left: 128,
                    right: 128,
                },
                vAxes: {
                    0: {
                        title: 'Anzahl Tests',
                    },
                    1: {
                        title: 'Prozent positiv',
                        gridlines: {
                            color: 'transparent',
                        },
                        format: '#%',
                    },
                },
                vAxis: { title: 'Anzahl', },
                hAxis: {
                    textPosition: 'out',
                    slantedText: true,
                    slantedTextAngle: 90,
                    textStyle: {
                        fontSize: 10,
                    },
                }
            };

            let chart = new google.visualization.ComboChart(document.getElementById('drawAnzahlTestsGesamtStat_div'));
            chart.draw(testsData, options);
        }





        // Anteile je nach Bundesland
        //
        //
        function drawAnteileNeueNachBundesland() {

            let gesamtData = new google.visualization.DataTable();
            gesamtData.addColumn('string', 'Bundesland');
            gesamtData.addColumn('number', 'Anzahl Neue');

            rest_data_gesamtLatest.forEach(function (data) {
                const bundesland = data.bundesland;
                const anzahlNeueFaelle = data.anzahlNeueFaelle;
                gesamtData.addRow([bundesland, anzahlNeueFaelle]);
            });

            var options = {
                title: 'Anteil neue Fälle abs.',
                is3D: true,
                height: 300,
                chartArea: {
                    top: 32,
                    left: 32,
                    bottom: 32,
                    right: 32,
                },
                legend: {
                    alignment: 'center',
                },
            };

            var chart = new google.visualization.PieChart(document.getElementById('drawAnteileNeueNachBundesland_div'));
            chart.draw(gesamtData, options);
        }


        function drawAnteileToteNachBundesland() {

            let gesamtData = new google.visualization.DataTable();
            gesamtData.addColumn('string', 'Bundesland');
            gesamtData.addColumn('number', 'Anzahl Neue');

            rest_data_gesamtLatest.forEach(function (data) {
                const bundesland = data.bundesland;
                const anzahlNeueTote = data.anzahlNeueTote;
                gesamtData.addRow([bundesland, anzahlNeueTote]);
            });

            var options = {
                title: 'Anteil Verstorbene abs.',
                is3D: true,
                height: 300,
                chartArea: {
                    top: 32,
                    left: 32,
                    bottom: 32,
                    right: 32,
                },
                legend: {
                    alignment: 'center',
                },
            };

            var chart = new google.visualization.PieChart(document.getElementById('drawAnteileToteNachBundesland_div'));
            chart.draw(gesamtData, options);
        }


        function drawAnteileGeneseneNachBundesland() {

            let gesamtData = new google.visualization.DataTable();
            gesamtData.addColumn('string', 'Bundesland');
            gesamtData.addColumn('number', 'Anzahl Neue');

            rest_data_gesamtLatest.forEach(function (data) {
                const bundesland = data.bundesland;
                const anzahlGeheilt = data.anzahlGeheilt;
                gesamtData.addRow([bundesland, anzahlGeheilt]);
            });

            var options = {
                title: 'Anteil Genesene abs.',
                is3D: true,
                height: 300,
                chartArea: {
                    top: 32,
                    left: 32,
                    bottom: 32,
                    right: 32,
                },
                legend: {
                    alignment: 'center',
                },
            };

            var chart = new google.visualization.PieChart(document.getElementById('drawAnteileGeneseneNachBundesland_div'));
            chart.draw(gesamtData, options);
        }



        function drawAnteileGetesteteNachBundesland() {

            let krankenhausData = new google.visualization.DataTable();
            krankenhausData.addColumn('string', 'Bundesland');
            krankenhausData.addColumn('number', 'Anzahl Getestete');

            rest_data_krankenhaus_latest.forEach(function (data) {
                const bundesland = data.bundesland;
                const anzahlGetestet = data.diffTests;
                krankenhausData.addRow([bundesland, anzahlGetestet]);
            });

            var options = {
                title: 'Anteil Tests abs.',
                is3D: true,
                height: 300,
                chartArea: {
                    top: 32,
                    left: 32,
                    bottom: 32,
                    right: 32,
                },
                legend: {
                    alignment: 'center',
                },
            };

            var wrapper = new google.visualization.ChartWrapper({
                chartType: 'PieChart',
                dataTable: krankenhausData,
                options: options,
                containerId: 'drawAnteileGetesteteNachBundesland_div'
            });

            wrapper.draw();

            // var chart = new google.visualization.PieChart(document.getElementById('drawAnteileGetesteteNachBundesland_div'));
            // chart.draw(krankenhausData, options);
        }




    </script>
</head>

<body class="bg-gray-900">
    <div layout:fragment="content">
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-dark topbar mb-4 static-top">
                            <h3 class="text-light pt-3 pl-3" th:text="'Covid Dashboard - Stand: ' + ${#dates.format(latestDate, 'dd.MM.yyyy')}">Dashboard - Stand: </h3>
<!--                            <form method="POST" th:action="@{/covid/index/}" th:object="${bundesland}"-->
<!--                                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--                                <div class="input-group">-->
<!--                                    <select id="name" class="custom-select" th:field="*{name}">-->
<!--                                        <option th:each="bundeslands : ${bundeslandList}"-->
<!--                                            th:value="${bundeslands.getName()}" th:text="${bundeslands.getName()}">-->
<!--                                    </select>-->
<!--                                    <div class="input-group-append">-->
<!--                                        <button class="btn btn-secondary" type="submit">Auswählen</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </form>-->
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="form-group row  justify-content-center">
                    <div class="col-auto">
                        <form method="POST" th:action="@{/covid/index/}" th:object="${bundesland}"
                              class="navbar-search">
                            <div class="input-group">
                                <label class="col-form-label mr-2 " for="name">Region wählen: </label>
                                <select id="name" class="custom-select" th:field="*{name}">
                                    <option th:each="bundeslands : ${bundeslandList}"
                                            th:value="${bundeslands.getName()}" th:text="${bundeslands.getName()}">
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">Auswählen</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Neue Fälle -->
            <div class="container-fluid">
                <h4 class="text-light text-center pt-3 pl-3">Aktuelle Daten und Veränderungen zum Vortag</h4>
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 py-4 px-3 bg-gray-800">
                        <div class="pb-3">
                            <div class="card border-left-primary shadow py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h2 font-weight-bold text-primary text-uppercase mb-1">
                                                Neue Fälle:</div>
                                            <span class="h3 mb-0 font-weight-bold text-gray-800"
                                                th:text="${latestGesamtStat.getAnzahlNeueFaelle()}">666</span>
                                            <span class="h5 mb-0 ml-2 font-weight-bold"
                                                th:classappend="${latestGesamtStat.getDiffNeueFaelle() >= 0 ? 'text-success' : 'text-danger'}"
                                                th:text="'(' + ${latestGesamtStat.getDiffNeueFaelle() >= 0 ? '+' : ''} + ${latestGesamtStat.getDiffNeueFaelle()} + ')' ">123</span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Neue Fälle Gesamt -->
                        <div class="card border-left-primary shadow py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h2 font-weight-bold text-primary text-uppercase mb-1">
                                            Fälle Gesamt:</div>
                                        <span class="h3 mb-0 font-weight-bold text-gray-800"
                                            th:text="${latestGesamtStat.getAnzahlFaelleGesamt()}">666</span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 7 Tages Durchschnitt -->
                    <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 ml-3 py-4 px-3 bg-gray-800">
                        <div class="pb-3">
                            <div class="card border-left-success shadow py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h2 font-weight-bold text-success text-uppercase mb-1">
                                                7-Tages Ø:</div>
                                            <span class="h3 mb-0 font-weight-bold text-gray-800"
                                                th:text="${latestGesamtStat.getAnzahlFaelle7Tage()}">666</span>
                                            <span class="h5 mb-0 ml-2 font-weight-bold"
                                                th:classappend="${latestGesamtStat.getDiffFaelle7Tage() >= 0 ? 'text-success' : 'text-danger'}"
                                                th:text="'(' + ${latestGesamtStat.getDiffFaelle7Tage() >= 0 ? '+' : ''} + ${latestGesamtStat.getDiffFaelle7Tage()} + ')' ">123</span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 7 Tages Inzidenz -->
                        <div class="card border-left-success shadow py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h2 font-weight-bold text-success text-uppercase mb-1">
                                            7-Tages Inzidenz:</div>
                                        <span class="h3 mb-0 font-weight-bold text-gray-800"
                                            th:text="${latestGesamtStat.getInzidenz7Tage()}">666</span>
                                        <span class="h5 mb-0 ml-2 font-weight-bold"
                                            th:classappend="${latestGesamtStat.getDiffInzidenz7Tage() >= 0 ? 'text-success' : 'text-danger'}"
                                            th:text="'(' + ${latestGesamtStat.getDiffInzidenz7Tage() >= 0 ? '+' : ''} + ${latestGesamtStat.getDiffInzidenz7Tage()} + ')' ">123</span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Neue TodesFälle -->
                    <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 ml-3 py-4 px-3 bg-gray-800">
                        <div class="pb-3">
                            <div class="card border-left-warning shadow py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h2 font-weight-bold text-warning text-uppercase mb-1">
                                                Neue Tote:</div>
                                            <span class="h3 mb-0 font-weight-bold text-gray-800"
                                                th:text="${latestGesamtStat.getAnzahlNeueTote()}">666</span>
                                            <span class="h5 mb-0 ml-2 font-weight-bold"
                                                th:classappend="${latestGesamtStat.getDiffNeueTote() >= 0 ? 'text-success' : 'text-danger'}"
                                                th:text="'(' + ${latestGesamtStat.getDiffNeueTote() >= 0 ? '+' : ''} + ${latestGesamtStat.getDiffNeueTote()} + ')' ">123</span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- TodesFälle gesamt -->
                        <div class="card border-left-warning shadow py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h2 font-weight-bold text-warning text-uppercase mb-1">
                                            Tote gesamt:</div>
                                        <span class="h3 mb-0 font-weight-bold text-gray-800"
                                            th:text="${latestGesamtStat.getAnzahlToteGesamt()}">666</span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- Neue Genesene -->
                    <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 ml-3 py-4 px-3 bg-gray-800">
                        <div class="pb-3">
                            <div class="card border-left-info shadow py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h2 font-weight-bold text-info text-uppercase mb-1">
                                                Neue Genesene:</div>
                                            <span class="h3 mb-0 font-weight-bold text-gray-800"
                                                th:text="${latestGesamtStat.getAnzahlGeheilt()}">666</span>
                                            <span class="h5 mb-0 ml-2 font-weight-bold"
                                                th:classappend="${latestGesamtStat.getDiffGeheilt() >= 0 ? 'text-success' : 'text-danger'}"
                                                th:text="'(' + ${latestGesamtStat.getDiffGeheilt() >= 0 ? '+' : ''} + ${latestGesamtStat.getDiffGeheilt()} + ')' ">123</span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Genesene gesamt -->
                        <div class="card border-left-info shadow py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h2 font-weight-bold text-info text-uppercase mb-1">
                                            Genesene gesamt:</div>
                                        <span class="h3 mb-0 font-weight-bold text-gray-800"
                                            th:text="${latestGesamtStat.getAnzahlGeheiltGesamt()}">666</span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <th:block th:if="${bundesland.getName() == 'Österreich'}">
                <div class="container-fluid">
                    <h4 class="text-light text-center pt-3 pl-3">Anteile nach Bundesland - Heute</h4>
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 py-4 px-3 bg-gray-800">
                            <div id="drawAnteileNeueNachBundesland_div"></div>
                        </div>
                        <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 ml-3 py-4 px-3 bg-gray-800">
                            <div id="drawAnteileToteNachBundesland_div"></div>
                        </div>
                        <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 ml-3 py-4 px-3 bg-gray-800">
                            <div id="drawAnteileGeneseneNachBundesland_div"></div>
                        </div>
                        <div class="col-sm-10 col-md-5 col-lg-4 col-xl-2 my-3 ml-3 py-4 px-3 bg-gray-800">
                            <div id="drawAnteileGetesteteNachBundesland_div"></div>
                        </div>
                    </div>
                </div>
            </th:block>







            <h4 class="text-light text-center pt-3 pl-3">Neue Fälle nach Tag</h4>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 my-3 py-4 px-3 bg-gray-800">
                        <div id="drawNeueFaelleGesamtStat_div"></div>
                    </div>
                </div>
            </div>

            <h4 class="text-light text-center pt-3 pl-3">Neue Verstorbene nach Tag</h4>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 my-3 py-4 px-3 bg-gray-800">
                        <div id="drawAnzahlToteGesamtStat_div"></div>
                    </div>
                </div>
            </div>

            <h4 class="text-light text-center pt-3 pl-3">Neue Genesene nach Tag</h4>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 my-3 py-4 px-3 bg-gray-800">
                        <div id="drawAnzahlGeneseneGesamtStat_div"></div>
                    </div>
                </div>
            </div>


            <h4 class="text-light text-center pt-3 pl-3">Anteile Aktive/Genesene/Verstorbene</h4>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 my-3 py-4 px-3 bg-gray-800">
                        <div id="drawAnteilGesamtStat_div"></div>
                    </div>
                </div>
            </div>

            <h4 class="text-light text-center pt-3 pl-3">Anzahl Tests & Positiv-Quote</h4>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 my-3 py-4 px-3 bg-gray-800">
                        <div id="drawAnzahlTestsGesamtStat_div"></div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</body>

</html>