<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>

    <meta name="keywords" content="Home" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawDemoChart);

      google.charts.setOnLoadCallback(drawChart1);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawNeueFaelleGesamtChart);


      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawDemoChart() {

        // Create the data table.
        var demoData = new google.visualization.DataTable();
        demoData.addColumn('string', 'Topping');
        demoData.addColumn('number', 'Slices');
        demoData.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var demoOptions = {'title':'How Much Pizza I Ate Last Night',
                       'width':800,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        var demoChart = new google.visualization.PieChart(document.getElementById('chart_div'));
        demoChart.draw(demoData, demoOptions);
      }

      function drawChart1() {

               var chart1Data = google.visualization.arrayToDataTable([
             ['Element', 'Density', { role: 'style' }],
             ['Copper', 8.94, '#b87333'],            // RGB value
             ['Silver', 10.49, 'silver'],            // English color name
             ['Gold', 19.30, 'gold'],
             ['Platinum', 21.45, 'color: #e5e4e2' ], // CSS-style declaration
         ]);

                 const chart1Options = {'title':'My First chart',
                               'width': '20%',
                               'height': 300,
                               'chartArea': {
                                    height: '100%',
                                    width: '100%',
                                    top: 32,
                                    left: 48,
                                    bottom: 32,
                                    right: 16,
                                    },
                            };

        let chart1 = new google.visualization.ColumnChart(document.getElementById('chart1_div'));
        chart1.draw(chart1Data, chart1Options);
     }

     function drawChart2() {

          var chart2Data = google.visualization.arrayToDataTable([
             ['Element', 'Density', { role: 'style' }],
             ['01.03.2020', 0, 'blue'],            // RGB value
             ['02.03.2020', 2, 'blue'],            // RGB value
             ['03.03.2020', 0, 'blue'],            // RGB value
             ['04.03.2020', 4, 'blue'],            // RGB value
             ['05.03.2020', 1, 'blue'],            // RGB value
             ['06.03.2020', 6, 'blue'],            // RGB value
             ['07.03.2020', 8, 'blue'],            // RGB value
             ['08.03.2020', 12, 'blue'],            // RGB value
             ['09.03.2020', 22, 'blue'],            // RGB value
             ['10.03.2020', 14, 'blue'],            // RGB value
             ['11.03.2020', 19, 'blue'],            // RGB value
             ['12.03.2020', 34, 'blue'],            // RGB value
             ['13.03.2020', 66, 'blue'],            // RGB value
             ['14.03.2020', 22, 'blue'],            // RGB value
             ['15.03.2020', 42, 'blue'],            // RGB value
             ['16.03.2020', 88, 'blue'],            // RGB value
             ['17.03.2020', 66, 'blue'],            // RGB value
             ['18.03.2020', 77, 'blue'],            // RGB value
             ]);

         const chart2Options = {'title':'My second asd',
                           'width': '20%',
                           'height': 300,
                           'chartArea': {
                                height: '100%',
                                width: '100%',
                                top: 32,
                                left: 32,
                                bottom: 72,
                                right: 16,
                                },
                           'hAxis': {
                                textPosition: 'out',
                                slantedText: true,
                                slantedTextAngle: 90,
                                textStyle: {
                                    fontSize: 10,
                                    },
                            },
                        };


        let chart2 = new google.visualization.ColumnChart(document.getElementById('chart2_div'));
        chart2.draw(chart2Data, chart2Options);
     }


      function drawNeueFaelleGesamtChart() {

          const rest_data = /*[[${test}]]*/'noValue';

          console.log(rest_data);

          let neueFaelleGesamtChartData = new google.visualization.DataTable();
          neueFaelleGesamtChartData.addColumn('string', 'Datum');
          neueFaelleGesamtChartData.addColumn('number', 'Anzahl');
          Object.keys(rest_data).forEach(function(key) {
          console.log(key, rest_data[key]);
                neueFaelleGesamtChartData.addRow([ key, rest_data[key] ]);
            });



          const neueFaelleGesamtChartOptions = {'title':'Neue KrankheitsFälle',
                           'width': '100%',
                           'height': 300,
                           'chartArea': {
                                height: '100%',
                                width: '100%',
                                top: 32,
                                left: 32,
                                bottom: 72,
                                right: 16,
                                },
                           'hAxis': {
                                textPosition: 'out',
                                slantedText: true,
                                slantedTextAngle: 90,
                                textStyle: {
                                    fontSize: 10,
                                    },
                            },
                        };


       let neueFaelleGesamtChart =
            new google.visualization.ColumnChart(document.getElementById('neueFaelleGesamtChart_div'));

       neueFaelleGesamtChart.draw(neueFaelleGesamtChartData, neueFaelleGesamtChartOptions);

       }





    </script>
</head>

<body>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
<p></p>
<div id="chart1_div"></div>
<p></p>
<div id="chart2_div"></div>
<p></p>
<div id="neueFaelleGesamtChart_div"></div>
</body>
</html>